/* Adapted from https://www.doggoforhire.com/ */
/* CSS at https://d33wubrfki0l68.cloudfront.net/css/2089612b4dc0c615c11ba0387da31e5d623ab833/style.min.css */
.timeline {
  position: relative;
  margin: 0 auto;
  padding-top: 2em;
}
/* Desktop Screens */
@media (min-width: 700px) {
  .timeline {
    padding: 2rem;
  }
}
/* Mobile Screens */
@media (max-width: 700px) {
  .timeline {
    padding: 0 2rem 2rem 2rem;
  }
}

.timeline-moments {
  position: relative;
  max-width: 1300px;
  padding: 0 0 4rem;
  list-style: none;
}
/* Desktop Screens */
@media (min-width: 700px) {
  .timeline-moments {
    margin: 2rem auto 0;
  }
}
/* Mobile Screens */
@media (max-width: 700px) {
  .timeline-moments {
    margin: 0 auto 0;
  }
}
/* :before */
.timeline-moments:before {
  content: "";
  position: absolute;
  left: 0;
  margin-left: -.25rem;
  height: 100%;
  width: .5rem;
  background: #3a3a3c
}
/* :before - Desktop Screens */
@media (min-width: 700px) {
  .timeline-moments:before {
    left: 50%
  }
}
