/* Desktop Screens */
@media (min-width: 700px) {
  .scrapbook {
    display: flex;
    width: 100%;
    flex-direction: column;
    /* 83px = nav_height */
    height: calc(100vh - 83px);
    overflow: hidden;
  }
}

/* Desktop Screens */
@media (min-width: 700px) {
  .scrapbook__container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-grow: 1;
  }
}

.scrapbook__figure {
  margin-top: 12px;
  background-color: white;
}

/* Desktop Screens */
@media (min-width: 700px) {
  .scrapbook__figure {
    width: 70%;
  }
}

/* Mobile Screens */
@media (max-width: 700px) {
  .scrapbook__figure {
    padding-bottom: 12px;
  }
}

.scrapbook__figure-img {
  padding: 12px;
}

/* Desktop Screens */
@media (min-width: 700px) {
  .scrapbook__figure-img {
    display: block;
    height: 100%;
    margin: auto;
  }
}

/* Desktop Screens */
@media (min-width: 700px) {
  .scrapbook__figure-caption {
    position: relative;
    background-color: lavender;
    width: 220px;
    left: 90%;
    bottom: 20%;
    padding: 12px;
    box-shadow: 3px 4px 6px 0px rgba(0, 0, 0, 0.2);
    color: #343a40;
  }
}

/* Mobile Screens */
@media (max-width: 700px) {
  .scrapbook__figure-caption {
    margin: 0 16px;
  }
}

/* Desktop Screens */
@media (min-width: 700px) {
  .scrapbook__content {
    margin-left: 32px;
    margin-top: 64px;
    width: 30%;
  }
}

/* Mobile Screens */
@media (max-width: 700px) {
  .scrapbook__content {
    margin: 0 16px;
  }
}

.scrapbook__chapter {
  font-size: 1.8rem;
  margin-bottom: 12px;
}

.scrapbook__title {
  font-weight: normal;
  font-size: 1.5rem;
  margin-bottom: 24px;
}

.scrapbook__transcription {
  font-style: italic;
  font-size: 16px;
  margin-bottom: 0;
}