.scrapbook__container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.scrapbook__figure-img {
  max-height: 75vh;
}

.scrapbook__content {
  margin-left: 32px;
  max-width: 60vw;
}

.scrapbook__chapter {
  font-size: 1.8rem;
  margin-bottom: 12px;
}

.scrapbook__title {
  font-weight: normal;
  font-size: 1.5rem;
  margin-bottom: 24px;
}

.scrapbook__transcription {
  font-style: italic;
  font-size: 16px;
  margin-bottom: 0;
}