.nav {
  padding: 18px 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.nav-main-row {
  margin-right: auto;
}

.nav-logo {
  width: 230px;
  height: 100%;
  flex-shrink: 0;
}

.nav-link-list {
  display: flex;
  flex-direction: row;
}

.nav-link-item {
  list-style: none;
}

.nav-link:hover {
  color: #343a40;
  text-decoration: underline;
}

/* Mobile Screens */
@media (max-width: 700px) {
  .nav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

@media (max-width: 700px) {
  .nav-main-row {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
}

@media (max-width: 700px) {
  .nav-logo-link {
    margin-right: auto;
  }
}

@media (max-width: 700px) {
  .navbar-toggler-custom-icon {
    display: inline;
    width: 36px;
    height: 26px;
    margin: 12px;
  }
}

/* Show/hide nav links for mobile screens */
@media (max-width: 700px) {
  .nav-link-list {
    display: none;
  }
}
@media (max-width: 700px) {
  .nav-link-list.show {
    display: flex;
    flex-direction: column;
  }
}
